.center-text {
    text-align: center;
}

.project-card {
    width: 90%;
    background-color: var(--background-color);
    padding: 20px;
    border: 10px solid var(--mid-background);
    box-shadow: 0 0 0 5px var(--primary-color);
    margin: 10px;
    display: flex;
    align-items: center;
}

.card-background {
    background-color: var(--light-primary);
    height: auto;
    max-width: 75%;
    margin-right: 10%;
    margin-left: 10%;
}